{% extends 'base.html' %}
{% load static %}
{% block css %}

{% endblock css %}

{% block content %}
    <div class="container">
    <h1>Blog Ekle</h1>

    <form action="" method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Başlık</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="title">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">İçerik</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>
</div>
    {% endblock content %}

    {% block javascript %}
    
    {% endblock javascript %}